doctype html
html(lang="zh-CN")
    head
        title= pageTitle
        link(href="/css/normalize.css", rel="stylesheet")
        link(href="/css/base.css", rel="stylesheet")
    body
        h1 welcome to chatroom