doctype html
html(lang="zh-CN")
    head
        title= pageTitle
        link(href="/css/normalize.css", rel="stylesheet")
        link(href="/css/base.css", rel="stylesheet")
        script(src="/config.js")
        script(src="/lib/require.js")
    body
        h1 welcome to chatroom
        script.
            require(['app/home']);