doctype html
html(lang="zh-CN")
	head
		title= "room " + id 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(href="/css/normalize.css", rel="stylesheet")
		link(href="/css/base.css", rel="stylesheet")
		script(src="/config.js")
		script(src="/lib/require.js")
	body#J-room
		.chatList#J-chatList
		.editor
			textarea#J-input.inputArea
			button#J-send.send Send
		.login-wrap
			.control-group
				label.control-label please enter your nickname
				.controls
					input(type="text", name="nickname")
			.control-group
				button(type="button")#J-submit enter
		script.
			require(['app/room']);